<!DOCTYPE>
<html>
<body>
<h1>Nutrisi</h1>
<form action="/tagresults">
    <select name="tag">
        <option disabled value>Select a tag</option>
        <option value="high protein">High Protein</option>
        <option value="high fibre">High Fibre</option>
        <option value="antioxidant-rich">Antioxidant-Rich</option>
    </select>
    <input type="submit" value = "Search by tag">
</form>
</body>
</html>