#* @vtlvariable name="calorierange" type="dao.FoodDAO" *#
#* @vtlvariable name="name" type="dao.FoodDAO"*#
#* @vtlvariable name="foodDAO" type="dao.FoodDAO" *#
<div class="container">
    <ul>
        #foreach ($foodDAO in $foodDAO.findByCalorieRange($calorierange))
            <li>$foodDAO.getName()</li>
            <p>
                <strong>Category :</strong> $foodDAO.getCategory() <br/>
                <strong>Calories :</strong> $foodDAO.getCalories() <br/>
                <strong>Protein :</strong> $foodDAO.getProtein() <br/>
                <strong>Fat :</strong> $foodDAO.getFat() <br/>
                <strong>Carbohydrates :</strong> $foodDAO.getCarbs() <br/>
                <strong>Fibre :</strong> $foodDAO.getFibre() <br/>
            </p>
        #end
    </ul>
</div>