<!-- food menu part start-->
<section class="food_menu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div  style="text-align: center;" class="single-member">
                    <img src="$foodDAO.findByName($name).getPhoto()" style="padding: 20px;" >
                        <h1 style="font-weight:bold"><u>$foodDAO.findByName($name).getName()</u></h1>
                        <p style="font-size: 20px;">
                            <h2 style="font-weight:bold";>Results per 100g:</h2><br/>
                            <h2 style="font-weight:bold";>Category :</h2><h3>$foodDAO.findByName($name).getCategory()</h3><br/>
                            <h2 style="font-weight:bold">Calories :</h2><h3>$foodDAO.findByName($name).getCalories() kcal</h3><br/>
                            <h2 style="font-weight:bold">Protein :</h2><h3>$foodDAO.findByName($name).getProtein() g</h3><br/>
                            <h2 style="font-weight:bold">Fat :</h2><h3>$foodDAO.findByName($name).getFat() g</h3><br/>
                            <h2 style="font-weight:bold">Carbohydrates :</h2><h3>$foodDAO.findByName($name).getCarbs() g</h3><br/>
                            <h2 style="font-weight:bold">Fibre :</h2><h3>$foodDAO.findByName($name).getFibre() g</h3><br/>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- food menu part end-->